# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Data and Artifacts (Very Important to not push data)
data/
dict/
*.csv
*.npy
!retrieval/*.json
!config/*.json

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store



# Personal/Debug Notes
Debug/


# AI Model Weights
*.pt
*.pth
*.safetensors
*.onnx
*.h5
*.ckpt
